.wallet .wallet-main {
    background: linear-gradient(to right, #2f0781, #f00dc3);
    border-radius: 18px;
    padding: 58px 0 24px 72px;
    overflow: hidden;
}

.wallet .wallet-main .phone {
    width: 450px;
    margin: -10px -70px -176px -10px;
}

.wallet .wallet-main .phone-single {
    margin: -10px -150px -176px -40px;
}

.wallet-download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wallet-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    /* transition: background 0.2s, border 0.2s; */
    min-width: 120px;

    margin-bottom: 6px;
}

.faq-mobile .wallet-download-buttons .wallet-btn {
    width: 100%;
}

.wallet-btn img {
    width: 28px;
    height: 28px;
}

.wallet-small-text {
    display: block;
    font-size: 10px;
    opacity: 0.8;
}

.wallet-main-text {
    display: block;
    font-size: 16px;
    font-weight: 600;
}