/* FAQ Content Layout */
.content-inner .content {
    width: 100%;
}

/* FAQ Block Text */
.content-inner .content .block-text {
    .usecase-head {
        font-family: "Zen Dots", cursive;
        font-weight: 400;
        font-size: 36px;
        line-height: 1.2;
        color: var(--text-color);
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        color: var(--content-color);
    }
}

/* FAQ Info Box */
.content-inner .content .info {
    padding: 43px 40px;
    margin-top: 49px;
    position: relative;
    clip-path: polygon(0 28px,
            28px 0,
            calc(100% - 28px) 0,
            100% 28px,
            100% calc(100% - 28px),
            calc(100% - 28px) 100%,
            28px 100%,
            0% calc(100% - 28px),
            0% 28px);
}

/* Info Box Icons */
.content-inner .content .info [class^=icon-union] {
    position: absolute;
    font-size: 68px;
    transition: 0.3s all ease-in-out;

    &:nth-child(1) {
        left: -1px;
        top: -1px;
    }

    &:nth-child(2) {
        right: -1px;
        top: -1px;
    }

    &:nth-child(3) {
        right: -1px;
        bottom: -1px;
    }

    &:nth-child(4) {
        left: -1px;
        bottom: -1px;
    }
}

/* Info Box Text */
.content-inner .content .info {
    .name {
        font-family: "Zen Dots", cursive;
        font-weight: 400;
        line-height: 1.2;
        color: var(--text-color);
        text-transform: capitalize;
        font-size: 1.5rem;
    }

    .text {
        font-size: 17px;
        margin-top: 23px;
        color: var(--content-color);
    }
}

/* Toggle Accordion */
.flat-toggle {
    background: var(--box-bg);
    border-radius: 10px;
    padding: 27px 38px 20px 32px;
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    overflow: hidden;

    .toggle-title {
        text-transform: capitalize;
        margin-bottom: 0;
        position: relative;
        font-size: 22px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        line-height: 1.2;
        color: var(--text-color);

        &::after {
            font-family: "icomoon";
            content: "\e900";
            color: var(--text-color);
            font-size: 20px;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(100%, 0);
            transition: 0.3s all ease-in-out;
        }
    }

    .toggle-content {
        margin-top: 18px;
        font-size: 15px;
        margin-bottom: 0;
        padding-right: 10px;
        color: var(--content-color);

        &.block {
            display: block;
        }
    }

    &#active .toggle-title::after {
        transform: rotate(180deg) translate(-100%, 0);
    }
}