.chat-label {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.chat-label.presale {
    left: 0;
    top: 36%;
}

.chat-label.airdrops {
    left: 8%;
    bottom: 12%;
}

.chat-label.marketing {
    right: 25%;
    top: 120px;
}

.chat-label.rewards {
    right: 0%;
    top: 36%;
}

.chat-label.dev-team {
    right: 0%;
    bottom: 25%;
}

.chat-label.legal {
    right: 13%;
    bottom: 12%;
}

.chat-label h1,
.chat-label p {
    font-size: 12px;
}

.chat-label p {
    font-weight: 300;
    color: var(--content-color);
}