.portal .chart-panel>div {
    border: 0.5px solid var(--border-color);
    margin-top: 22px;
    border-radius: 10px;
    padding: 23px 44px;
    background-color: var(--box-bg);
}
/* 
.portal .chart-panel>div canvas {
    width: 100% !important;
    height: 100% !important;
} */

.portal .chart-panel .chart-state-field>p {
    color: var(--text-color);
}

.portal .chart-panel .chart-state-field .state {
    border: 1px solid var(--border-color);
    padding: 5px 8px;
    border-radius: 40px;
}

.portal .chart-panel .chart-state-field .state>button {
    color: var(--content-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    font-size: 14px;
    border-radius: 20px;
}

.portal .chart-panel .chart-state-field .state>.active {
    background: #CE1FEA;
    color: #fff;
}