.allow .title {
    font-family: "Oswald", sans-serif;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 22px;
}

.allow .content {
    letter-spacing: 0px;
    font-weight: 300;
}

.allow .items img {
    border-radius: 20px;
}

.allow .items img:nth-child(1) {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 92% 100%, 100% 100%, 0 100%, 0% 100%, 0% 0);
}

.allow .items img:nth-child(2) {
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0% 100%, 8% 0);
}

.allow .numbers {
    padding: 51px 165px 0 13px;
}

.allow .numbers .number {
    font-family: "Oswald", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 56px;
    position: relative;
}

.allow .numbers .number::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    top: auto;
    bottom: -27px;
    width: 100%;
    height: 1px;
    background: var(--border-color);
}

.allow .numbers .number-item {
    min-width: 80px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    position: relative;
    margin-right: 28px;
    border: 2px solid #e250e5;
    background: #130F40;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allow .numbers .number-item span {
    margin: 0;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
}

.allow .numbers .number h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 0;
    color: var(--text-color);
    text-transform: capitalize;
}