.enter-email {
    display: flex;
    justify-content: center;
    width: 100%;
}

.enter-email>div {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

.enter-email input {
    padding: 15px 24px;
    display: flex;
    align-items: center;
    background: var(--footer-input-bg);
    width: 100%;
    border: 1px solid var(--border-color);
    box-shadow: none;
    border-radius: 12px;
    color: var(--text-color);
    margin-bottom: 0 !important;
    font-weight: 500;
}

.enter-email input::placeholder {
    font-weight: 300;
    font-size: 14px;
}

.enter-email .join-btn {
    padding: 12px 14px;
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    height: max-content;
    padding: 10px 14px;
}